.chat-main {
  width: calc(100vw - 300px);
  float: left;
  color: #000;
  .main-header {
    height: 100px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #eee;
      &__left-box {
        h2 {
          margin: 35px 0 0;
          font-size: 20px;
          color: #333;
          margin-bottom: 15px;
          font-weight: normal;
        }
        ul {
          font-size: 12px;
          color: #999999;
          list-style: none;
          li {
            margin: 0;
          }  }  }
      a {
        color: #38aef0;
        text-decoration: none;
        cursor: pointer;
        line-height: 100px;
      }
  } 
  .messages {
    height: calc(100vh - 190px);
    padding: 46px 40px;
    background-color: #fafafa;
    overflow: scroll;
  }
  .form {
    height: 90px;
    padding: 20px 40px;
    background-color: #ddd;
    &__new_message {
      display: flex;
      // height: 50px;
      // width: 590px;
      // input {
      //   font-family: inherit;
      //   font-size: inherit;
      //   font-weight: inherit;
      // }
      .input-box {
        position: relative;
        width: 100%;
        &__text {
          height: 50px;
          padding: 0 40px 0 10px;
          color: #434a54;
          border-style: none;
        }
        &__image {
          font-size: 1.3rem;
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;
        }  
      .submit-btn {
        width: 100px;
        height: 50px;
        padding: 0 30px;
        margin-left: 15px;
        background-color: #38aef0;
        color: white;
        cursor: pointer;
      }  }
    }
  }
}   
